@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
    --fonte-primaria: 'Inter', sans-serif;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
}

.cabecalho {
    padding: 3% 3%;
}

.conteudo{
    display: flex;
    align-items: center;
}

.conteudo__criptografar{
    width: 60%;
    height: 60%;
    display: flex;
    justify-content: center;
    margin: 0px 0px 0px 80px;
}

.conteudo__criptografar__caixa{
    width: 800px;
    height: 700px;
    background-color: #E5E5E5;
    border: none;
    outline: none;
    font-size: 2rem;
}

.conteudo__criptografar__caixa::placeholder{
    color: #0A3871;
    font-size: 2rem;
    font-family: var(--fonte-primaria);
}

.conteudo__area{
    height: 145%;
    width: 30%;
    position: absolute;
    right: 40px;
    top: 40px;
    background-color: #ffffff;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

#conteudo__area__criptografia{
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);
    justify-content: flex-start;
    max-width: 100%;
    word-wrap: break-word;
    padding: 10px;
}

.conteudo__area__texto{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.conteudo__area__texto h2{
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);
    color: #343A40;
}

.conteudo__area__texto p{
    font-family: var(--fonte-primaria);
    color: #495057;
}

.botoes{
    position: relative;
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 40px 0px 55px 240px;
}

.botoes__paragrafo {
    position: absolute;
    bottom: 85%;
    background-image: url(../assets/image/alert.png);
    background-repeat: no-repeat;
}

.botoes__paragrafo p{
    font-size: 0.75rem;
    font-family: var(--fonte-primaria);
    color: #495057;
    padding-left: 20px;
}

.botoes__criptografar {
    width: 250px;
    height: 67px;
    border-radius: 24px;
    border: none;
    color: #FFFFFF;
    background-color: #0A3871;
    font-family: var(--fonte-primaria);
    font-size: 1rem;
    transition: 0.2s ease-in-out;
}

.botoes__criptografar:hover{
    background-color: #474F7A;
    text-decoration: underline;
    cursor: pointer;
}

.botoes__descriptografar{
    width: 250px;
    height: 67px;
    border-radius: 24px;
    border: none;
    color: #0A3871;
    background-color: #D8DFE8;
    font-family: var(--fonte-primaria);
    font-size: 1rem;
    border: 1px solid #0A3871;
    transition: 0.2s ease-in-out;       
}

.botoes__descriptografar:hover {
    background-color: #0A3871;
    color: #D8DFE8;
    text-decoration: underline;
    cursor: pointer;
}

.copiar {
    display: flex;
    justify-content: flex-end;
    padding: 0px 160px 30px 0px;
    margin-top: -10px;
}

.copiar__botao{
    width: 124px;
    height: 36px;
    border: 1px solid #0A3871;
    border-radius: 12px;
    background-color: #D8DFE8;
    font-family: var(--fonte-primaria);
    font-size: 0.75rem;
    transition: 0.2s ease-in-out
}

.copiar__botao:hover {
    cursor: pointer;
    background-color: #0A3871;
    color: #D8DFE8;
}

.rodape {
    text-align: center;
    height: 50px;
    background-color: #0A3871;
    padding: 15px;
}

.rodape__texto {
    color: #E5E5E5;
    font-family: var(--fonte-primaria);
    font-size: 0.80rem;
}